.theme-changer_button {
　margin-top: 0.6rem;
  margin: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: var(--color-primary-background-lighter);
  
}
